<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="http://sdmiweb:9999/Magazine/500_error.jpg" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <customErrors defaultRedirect="http://sdmiweb:9999/Magazine/" mode="Off" />
    </system.web>
</configuration>
